<form action="/add" method="POST" class="form-control mb-3">
    <label for="task" class="form-label">Write new task:</label>
    <input required type="text" name="task" class="form-control mb-2">
    <button type="submit" class="btn btn-primary">Add</button>
</form>